body {
    background-color: beige;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 24px;
}

h1 {
    font-size: 48px;
    border-bottom: 5px solid rgba(133, 76, 19, 0.589);
    width: 600px;
    margin: 32px auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 40px;
}

a {
    color: black;
    font-weight: 500;
    border: 3px solid black;
    padding: 8px 32px;
}

a:hover {
    font-weight: bold;
}